*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.hero-container{
    text-align: center;
}
.nav-links {
    display: flex;
    margin-top: 2em;
    gap: 1em;
    justify-content: center;
}
.nav-links a{
    color: #0056b3;
}

#login-form-container,
#registration-form-container {
    background-color: #fff;
    padding: 2em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    place-items: center;
    transition: 2s;
}

#login-form,
#registration-form {
    
    background-color: #fff;
    padding: 3em 2em 2em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    display: flex;
    gap: 1.5em;
    flex-direction: column;
    justify-content: center;
    /* justify-content: center; */
    
}

.heading{
    text-transform: uppercase;
    font-weight: 600;
    font-size: xx-large;
    text-align: center;
    margin: 1em 0 1.5em;
}
/* -------Input Area------- */
.inputbox{
    display: flex;
    gap: 5px;
    align-items: center;
    border-bottom: 3px solid #007BFF;
}
.inputbox span i{
    width: 2em;
    text-align: center;
    background: #aaa;
    padding: 5px;
}
.inputbox input{
    border: none;
    outline: none;
    font-size: large;
    padding-left: 3px;
    /* background-color: rgb(234, 188, 188); */
    max-width: 85%;
}
.inputbox input::placeholder{
    text-transform: uppercase;
    letter-spacing: 1px;
}
.fa-eye, .fa-eye-slash{
    cursor: pointer;
    background: #ccc;
    padding: .3em;
    color: #005aba;
    border-radius: 50%;
}
.fa-eye{
    visibility: hidden;
}
.inputbox input:not(:placeholder-shown) ~ .fa-eye{
    visibility: visible;
}

/* -------Buttons-------- */
button{
    cursor: pointer;
}
.primary-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 1em auto 0;
    width: 50%;
    font-size: large;
    font-weight: bold;
}
.primary-button:hover {
    background-color: #0056b3;
}
.secondary-button-container{
    margin-top: 1em;
}
.secondary-button{
    color: #0056b3;
}
.secondary-button{
    background: transparent;
    color: #1d2b3a;
    font-weight: bold;
    border: none;
}
.secondary-button:hover, .secondary-button:active{
    color: #70879f;
}

@media(max-width: 700px){
    #login-form,
    #registration-form {
        padding: 2em 1em;
        
        
    }
}
