<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Error page</title>
</head>
<body>
    <div class="hero-container">
        <h1>You entered incorrect data! ☹. Please retry your action again</h1>
        <div class="nav-links">
            <a href="/register" class="secondary-button">Sign Up</a>
            <a href="/login" class="secondary-button">Sign In</a>
        </div>
    </div>
</body>
</html>